<div>
  <div class= "not_found__container">
  <div class="mb-5">
    <div>
      <small class="text-danger fw-bold">Server status: 404</small>
      <h2 class="fw-bold error display-1">Error 404 Not Found</h2>
    </div>
    <p class="mt-5 mb-3">
      Sorry, the page you are looking for doesn't exist or has been moved.
    </p>
    <a class="btn btn-dark" href="/" role="button">Home Page</a>
  </div>
  <div class="mt-5">
    <h3 class="fw-bold display-3">Sparx.</h3>
  </div>
</div>
