<nav class="navbar navbar-expand-lg navbar-dark mt-5">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold" href="/">Sparx.</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/jobs">Jobs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/faq">Faq</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/search">Search</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="pt-5 pb-5 getStarted__container">
  <div class="mb-5">
    <h2 class="fw-bold display-2">Sign In to your account</h2>
    <p>Please choose one of two options</p>
  </div>
  <div>
    <a class="btn btn-dark me-3" href="/account/user/signin" role="button"
      >Sign In as User</a
    >
    <a class="btn btn-dark me-3" href="/account/brand/signin" role="button"
      >Sign In as Brand</a
    >
  </div>
</div>
