<div class="newsletter__container">
  <div>
    <h5 class="fw-bold">Newsletter</h5>
    <p>Enter your email to check Sparx Live</p>
  </div>
  <div>
    <form method="POST" class="mt-5">
      <label class="label-fromfw-bold">Email</label>
      <div>
        <input
          type="email"
          class="form-control mt-3"
          name="email"
          placeholder="Enter your email address"
          required
        />
        <button class="btn btn-dark mt-4">Send Newsletter</button>
      </div>
    </form>
    <a href="/" class="btn btn-dark mt-5" role="button"><- Home Page</a>
  </div>
</div>



