<div class="newsletter__container">
  <div>
    <h3 class="fw-bold text-danger">Congratulations!</h3>
    <p>Thnk you for submitting our newsletter, check your email. Sparx. Team</p>
    <p>Check Link: <%= mailLink %></p>
    <a href="/" class="btn btn-dark mt-5" role="button"><- Home Page</a>
  </div>
</div>



