<nav class="navbar navbar-expand-lg navbar-dark mt-5">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold" href="/">Sparx.</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/jobs">Jobs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/faq">Faq</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/search">Search</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-bold" href="/app/getStarted">Get Started</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="pt-5 pb-5 search__container">
  <div class="mb-5">
    <h3 class="fw-bold display-3">Search</h3>
    <p>Run a search engine to find people and jobs.</p>
  </div>
  <div>
    <a class="btn btn-dark me-3" href="/search/users/all" role="button"
      >Search Users</a
    >
    <a class="btn btn-dark me-3" href="/search/brands/all" role="button"
      >Search Brands</a
    >
  </div>
</div>
